<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Highlighter</title>
  </head>
  <body>
    <h1>What do you want to highlight?</h1>
    <form action="/highlight" method="post">
  <div>
    <label for="text">The content :</label><br>
    <textarea name="text" id="text" rows="10" cols="70" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur malesuada velit, sit amet porta magna maximus nec. Aliquam aliquet tincidunt enim vel rutrum. Ut augue lorem, rutrum et turpis in, molestie mollis nisi. Ut dapibus erat eget felis pulvinar, ac vestibulum augue bibendum. Quisque sagittis magna nisi. Sed aliquam porttitor fermentum. Nulla consequat justo eu nulla sollicitudin auctor. Sed porta enim non diam mollis, a ullamcorper dolor molestie. Nam eu ex non nisl viverra hendrerit. Donec ante augue, eleifend vel eleifend quis, laoreet volutpat ipsum. Integer viverra aliquam nulla, ac rutrum dui sodales nec.</textarea>
  </div>
  <div>
    <label for="highlights">The highlights :</label><br>
    <textarea name="highlights" id="highlights" rows="10" cols="70">[{ start: 20, end: 35, comment: "Foo" },{ start: 73, end: 92, comment: "Bar" },{ start: 50, end: 98, comment: "Baz" }]</textarea>
  </div>
  <button type="submit">Convertir</button>
  <div>
  <%= @highlighted_text %>
</div>
</form>

  </body>
</html>
